<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 18.08.2015, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>There's a thing called the Flash Memory Summit in California, because of course there is. And there, Golem.de reports, Samsung has introduced the PM1633a. It's a terrible name for a wonderful thing: the world's largest hard drive, packed into a 2.5-inch case. It's listed as 16TB (technically, it's 15.36TB), and the best part about it is that it's a solid state drive using Samsung's new 256GB NAND flash as the basis for the storage. As Ars Technica reports, that new flash memory is the key to stuffing more storage capacity into the same space, and it works by stacking the transistors vertically.</p>
        </div>

        <div>
            <p>published: 18.08.2015, 12:18</p>
            <h2><a href="">My second post</a></h2>
            <p>We waved goodbye to the Nexus 5 when Google stopped selling its 2014 flagship Android smartphone earlier this year, but it might be time to say hello to a revamped version. Rumors in May suggested that Google was working with partners Huawei and LG to produce two new Nexus phones — a 5.7-inch Huawei device, and a 5.2-inch model with the Korean manufacturer. Now, thanks to a leaked photo tweeted by video producer and friend of The Verge Marques Brownlee, we might have our first glimpse of the new Nexus 5 in the wild.</p>
        </div>
    </body>
</html>