<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endfor %}


        <div>
            <p>published: 18.08.2015, 12:18</p>
            <h2><a href="">My second post</a></h2>
            <p>We waved goodbye to the Nexus 5 when Google stopped selling its 2014 flagship Android smartphone earlier this year, but it might be time to say hello to a revamped version. Rumors in May suggested that Google was working with partners Huawei and LG to produce two new Nexus phones — a 5.7-inch Huawei device, and a 5.2-inch model with the Korean manufacturer. Now, thanks to a leaked photo tweeted by video producer and friend of The Verge Marques Brownlee, we might have our first glimpse of the new Nexus 5 in the wild.</p>
        </div>
    </body>
</html>